# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp

# Ignore log files
*.log